In [1]:
import mysql.connector

#### 1. Create Connection

```
mydb = mysql.connector.connect(
    host = ,
    user = ,
    password ,
)
```

#### Create Connection 예제 1
- Local Database 연결

In [2]:
local = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "whgdmsgkfn333",
)

#### Create Connection 예제 2
- AWS RDS(database-1) 연결

In [3]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
)

#### Close Database

In [4]:
local.close()

In [5]:
remote.close()

#### Create Connection 예제 1
- Local MySQL의 zerobase에 연결

In [7]:
local = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "whgdmsgkfn333",
    database = "zerobase",
)

In [9]:
local.close()

- AWS RDS(databse-1)의 zerobase에 연결

In [11]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
    database = "zerobase",
)

In [12]:
remote.close()

#### Excute SQL
- Query를 실행하기 위한 코드

In [14]:
import mysql.connector

#### Execute SQL 예제 1 
- 테이블 생성

In [16]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
    database = "zerobase"
)

cur = remote.cursor()
cur.execute("CREATE TABLE sql_file (id int, filename varchar(16))")

remote.close()

#### Execute SQL 예제 2
- 테이블 삭제

In [18]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
    database = "zerobase",
)

cur = remote.cursor()
cur.execute("DROP TABLE sql_file")

remote.close()

#### Excute SQL File 예제 1
- test03.sql 생성

- test03.sql 실행

In [19]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
    database = "zerobase"
)

cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

remote.close()

#### Excute SQL file 예제 2
- SQL File 내에 Query가 여러개 존재하는 경우

- test04.sql 생성

- 실행

In [21]:
remote = mysql.connector.connect(
    host = "database-1.ckw5zu9hecdi.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "zerobase",
    database = "zerobase"
)

cur = remote.cursor()
sql = open("test04.sql").read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()
remote.close()

insert into sql_file VALUES(1, "test01.sql")
insert into sql_file VALUES(2, "test02.sql")
insert into sql_file VALUES(3, "test03.sql")
insert into sql_file VALUES(4, "test04.sql")